<ion-header>
  <ion-button (click)="comeBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-toolbar>
    <ion-title *ngIf="media">{{media.Title}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding *ngIf="media">
  <ion-img [src]="linkPoster"></ion-img>
  <ion-item>
    {{ media.Title }}
  </ion-item>
  <ion-item>
    {{ media.Plot }}
  </ion-item>
  <ion-item>
    {{ media.Released }}
  </ion-item>
  <ion-item>
    {{ media.Rated }}
  </ion-item>
  <ion-item>
    {{ media.Genre }}
  </ion-item>
  <ion-item>
    {{ media.Production }}
  </ion-item>
  <ion-item>
    {{ media.Actors }}
  </ion-item>
  <ion-item>
    {{ media.Awards }}
  </ion-item>
  <ion-item>
    {{ media.imdbRating }}
  </ion-item>
  <ion-item>
    {{ media.imdbVotes }}
  </ion-item>
  <a href="{{ media.Website }}">{{ media.Website }}</a>
  <ion-item>
    {{ media.Runtime }}
  </ion-item>
  <ion-button (click)="favorisClick(media)">
    <ion-icon name="heart" *ngIf="isFavoris"></ion-icon>
    <ion-icon name="heart-empty" *ngIf="!isFavoris"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let season of seasons" (click)="buttonClick(season)">
      <button ion-button block>saison {{ season }}</button>
    </ion-item>
  </ion-list>
</ion-content>
