<ion-header>
  <ion-toolbar>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let media of favoris">
    <ion-item *ngIf="media.Title" (click)="getMedia(media)">
      {{media.Title}}
    </ion-item>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button (click)="downloadFav()"><ion-icon name="log-out"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="uploadFav()"><ion-icon name="log-in"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

</ion-content>