<ion-header>
  <ion-toolbar>
    <ion-title>movies</ion-title>
  </ion-toolbar>

  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="displaySearchBar()">
    <ion-fab-button>
      <ion-icon *ngIf=isdisplaySearchBar name="remove"></ion-icon>
      <ion-icon *ngIf="isdisplaySearchBar==false" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-header>


<ion-content padding>

  <app-search-bar-movie-or-serie *ngIf=isdisplaySearchBar mediaType="movie"></app-search-bar-movie-or-serie>
</ion-content>